@import "../styles/variables.scss";

.cancel-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %btn-base-active;
    color: #060E1E;
    background: transparent;
    border-color: #D3D8DC;

    &:hover {
        background-color: #D3D8DC;
        border-color: #D3D8DC;
    }

}